# Ignore Gradle project-specific cache directory
#.gradle

# Ignore Gradle build output directory
#build

#.idea

#qmap.iml
#.settings
#gradle
#.project
.*
*.iml
*.settings
gradle
!/.gitignore
*.db
out
